[Desktop Entry]
Type=Application
Name=Hexboard Integrated
Comment=Run an infinite tabletop game board with integrated utility tools
Exec=hexboard
Icon=io.github.craigmcgrain.Hexboard
Categories=Game;BoardGame;
Keywords=hex;game;board;tabletop;
StartupNotify=true
